@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background: #d1e0e0;
  font-family: "Montserrat", sans-serif;
  padding: 150px;
  color: black;
}

/* 770px */
@media screen and (max-width: 1024px) {
  body {
    padding: 10px;
  }
}

.container {
  box-shadow: 40px -40px 7px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

a {
  /* color: rgb(32, 29, 29); */
  font-weight: bolder;
}

.right-side {
  background: #009999;
  padding: 0;
}

.left-side {
  background: white;
}

.pic-container {
  margin-top: 90px;
}

.my-pic {
  width: 250px;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 40%;
  box-shadow: 10px 9px 10px #aaaaaa;
}

.navbar-nav a {
  text-shadow: 2px 7px 7px#006666;
  /* border-bottom:2px solid rgb(117, 115, 115);  */
}

.fa-code {
  color: #e54d26;
  margin-right: 3px;
}

.fa-css3 {
  color: #2163af;
  margin-right: 7px;
}

.fa-js-square {
  color: #e6e600;
  margin-right: 9px;
}

.fa-react {
  font-size: 21px;
  color: #13749b;
  margin-right: 8px;
}

.fa-git {
  font-size: 21px;
  color: #ee3d08;
  margin-right: 8px;
}

.fa-flask {
  color: #0c0c63;
  margin-right: 8px;
}

.fa-chart-bar {
  margin-right: 9px;
}

.fa-code,
.fa-css3,
.fa-js-square,
.fa-flask {
  font-size: 20px;
}

.social a {
  font-size: 1.5em;
  padding: 20px;
}

.fa-linkedin-in {
  color: #0e0e5f;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-github {
  color: #1b1e1f;
}

.fa-gitlab {
  color: #fc6d27;
}

.fa-instagram {
  color: #e95950;
}

.fa-linkedin-in:hover,
.fa-google-plus-g:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  color: #d5d5d5;
}

.fa-envelope {
  color: #58130a;
  font-size: 20px;
}

.fa-map-marker-alt {
  color: rgb(65, 63, 63);
  font-size: 20px;
}

.personal-contact {
  background: #e0ebeb;
  height: 73px;
  margin-top: 18px;
  padding-top: 6px;
  border-radius: 30px;
  opacity: 0.7;
}

.side-bar {
  padding-top: 110px;
  color: grey;
}

.side-bar li {
  margin: 40px;
}

.side-bar a {
  text-decoration: none;
  color: rgb(82, 80, 80);
}

.side-bar li:hover {
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  border-radius: 3px;
}

.blog-post {
  background: #e0ebeb;
  height: 50px;
  padding-top: 6px;
}

.linkTo {
  color: purple;
  text-decoration: none;
}

.linkTo:hover,
.research:hover,
.lekturLink:hover {
  text-decoration: none;
}

.research b {
  font-size: 10px;
  font-style: italic;
  margin-left: 10px;
}

.lekturLink {
  color: orangered;
}

.personal-contact a {
  color: black;
}

.personal-contact a:hover {
  text-shadow: 5px 0px 5px #dd4b39;
  text-decoration: none;
}
